@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  width: 100%;
}

h1,h2 {
  font-weight: 300;
}

ul {
  list-style: none;
}

p {
  margin: 10px 0;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  color: #fff;
  position: fixed;
  top: 0;
  background-color: #333;
  padding: 0 30px;
  opacity: .8;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0px 5px;
}

.navbar a:hover {
  border-bottom: 2px #28A745 solid;
}

.navbar .logo {
  font-weight: 400;
}

/* Content */
.hero {
  background: url('../images/home/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  display: relative;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  margin: 0 5px;
  padding: 20px 20px 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.hero * {
  z-index: 1;
}

/* Icons */
.icons {
  padding: 30px;
}

.icons em {
  background-color: #28A745;
  padding: 16px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 20px;
}

/* Teams */
.team img {
  border-radius: 50%;
}

/* Callback Form */
.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form .form-control {
  margin-bottom: 5px;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form input {
  width: 100%;
  height: 40px;
  padding: 4px;
  border: 1px #f5f5f5 solid;
  margin-bottom: 10px;
}

.callback-form input:hover {
  outline-color: #28A745;
}

/* Footer */
.footer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #28A745;
}

.footer .social > * {
  margin-right: 20px;
}

/* Mobile */
@media(max-width:768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .team img {
    width: 70%;
  }
}