.text-primary {
  color: #28A745;
}

.text-secondary {
  color: #0284D0;
}

/* Button and Background */
.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  opacity: .9;
}

.btn-primary,
.bg-primary {
  background-color: #28A745;
  color: #fff;
}

.btn-secondary,
.bg-secondary {
  background-color: #0284D0;
  color: #fff;
}

.btn-light,
.bg-light {
  background-color: #f4f4f4;
  color: #333;
}

.btn-dark,
.bg-dark {
  background-color: #333;
  color: #fff;
}

.btn-outline {
  background-color: transparent;
  border: 1px #f4f4f4 solid;
}


/* Section Padding */
.section-padding {
  padding: 20px 20px 30px;
}

/* Flex Items */
.flex-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex Columns */
.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h4 {
  margin-bottom: 15px;
}

.flex-columns h2 {
  font-weight: 100;
  font-size: 40px;
}

.flex-columns .btn {
  margin-top: 20px;
}

/* Flex Grid */
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.section-header h2 {
  font-size: 40px;
  margin-bottom: 20px 0;
}

.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.flex-grid img:hover {
  opacity: .6;
}

/* FLex Reserve Row */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}